<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>echartsBuilder</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addSquareEchartServlet</display-name>
    <servlet-name>addSquareEchartServlet</servlet-name>
    <servlet-class>com.echartsBuilder.servlet.AddSquareEchartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addSquareEchartServlet</servlet-name>
    <url-pattern>/addSquareEchartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addPieChartServlet</display-name>
    <servlet-name>addPieChartServlet</servlet-name>
    <servlet-class>com.echartsBuilder.servlet.AddPieChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addPieChartServlet</servlet-name>
    <url-pattern>/addPieChartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pieChangeServlet</display-name>
    <servlet-name>pieChangeServlet</servlet-name>
    <servlet-class>com.echartsBuilder.servlet.PieChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pieChangeServlet</servlet-name>
    <url-pattern>/pieChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>squareChangeServlet</display-name>
    <servlet-name>squareChangeServlet</servlet-name>
    <servlet-class>com.echartsBuilder.servlet.SquareChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>squareChangeServlet</servlet-name>
    <url-pattern>/squareChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testServlet</display-name>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>com.echartsBuilder.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServlet</servlet-name>
    <url-pattern>/testServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>saleOrderTestServlet</display-name>
    <servlet-name>saleOrderTestServlet</servlet-name>
    <servlet-class>com.echartsBuilder.servlet.SaleOrderTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saleOrderTestServlet</servlet-name>
    <url-pattern>/saleOrderTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testDataServlet</display-name>
    <servlet-name>testDataServlet</servlet-name>
    <servlet-class>com.echartsBuilder.servlet.TestDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testDataServlet</servlet-name>
    <url-pattern>/testDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createDataStyleServlet</display-name>
    <servlet-name>createDataStyleServlet</servlet-name>
    <servlet-class>com.echartsBuilder.servlet.CreateDataStyleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createDataStyleServlet</servlet-name>
    <url-pattern>/createDataStyleServlet</url-pattern>
  </servlet-mapping>
</web-app>